bundle
lazy-lock.json
.zcompdump
/config/.config
/config/nvim/spell/
/config/emacs/.last-package-update-day
/config/emacs/elpa/
/config/emacs/transient/
/config/emacs/savehist
/config/emacs/projects
/config/emacs/var/
/config/emacs/eln-cache/
/config/emacs/etc/
/config/emacs/undo-fu-session/
